POSTGRES_USER=oleolab
POSTGRES_PASSWORD=oleolab_dev
POSTGRES_DB=oleolab_coberturas

JWT_SECRET=replace-with-a-long-random-string-at-least-32-chars

SEED_ADMIN_EMAIL=orlando@logiqbi.com
SEED_CLIENT_EMAIL=cliente.demo@oleolab.com
SEED_PASSWORD=Oleolab2026!
